.btn {
    display: inline;
}

.submit-btn {
    margin-top: 3px;
}

@media (max-width: 570px) {
    .submit-btn {
        text-align: center;
        margin: auto;
        width: 100%;
        height: 57px;
        font-size: 13px;
    }

}