.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 5px;
    padding: 2px;
    background-color: #00AEEF;
    border-radius: 50px;
    width: 150px;
    
}

.profile-user {
    margin-bottom: 10px;
}

.profile-user img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}



label {

    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    float: left;
    color: #3A3A3A;
}

input {
    margin-bottom: 20px;
    width: 499px;
    background: #EFEFEF;
    border-radius: 10px;
}